.biographySection {
  position: relative;
  width: 100%;
  background: #111; /* gris inicial */
  color: #fff;       /* texto blanco por defecto */
  overflow: hidden;
  padding: 15vh 0;
  transition: background-color 0.5s ease;
}
