/* ---------- 🔤 Tipografía ---------- */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
}
:root {
  --violet: #5b25d4;
  --grey: #e6e6e6;
  --black: #0a0a0a;
}
@font-face {
  font-family: 'Reddit Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/reddit-sans@latest/latin-700-italic.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/fontsource/fonts/reddit-sans@latest/latin-700-italic.woff) format('woff');
}
.filter-violet {
  filter: invert(42%) sepia(75%) saturate(740%) hue-rotate(235deg)
    brightness(95%) contrast(98%);
}

* {
  font-family: "Inter", sans-serif;
  color: white; /* 👈 Texto blanco por defecto */
  box-sizing: border-box;
}

html,
body {
  background-color: #111111 !important;
}

.reddit-sans-text {
  font-family: "Reddit Sans", sans-serif;
}

/* ---------- 🌀 Swiper ---------- */
.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Hover luminoso tipo Awwwards */
.menu-link:hover span,
.menu-link:hover svg {
  text-shadow: 0 0 10px #5b25d4, 0 0 20px #5b25d4, 0 0 30px #5b25d4;
  filter: drop-shadow(0 0 6px #5b25d4);
}

/* Filtro violeta para SVG base */
.filter-violet {
  filter: invert(42%) sepia(75%) saturate(740%) hue-rotate(235deg)
    brightness(95%) contrast(98%);
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: #5b5bc4;
  width: 12px;
  height: 12px;
}

/* .magnetic {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #07da8a;
  color: white;
  width: 80px;
  height: 80px;
  margin: 40px;
  position: relative;
  overflow: hidden;
} */

.text {
  position: relative;
  user-select: none;
  transition: transform 0.3s ease;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
}


h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}