.back{
    background: url('/img/welcome-cell.webp') no-repeat center center;
    background-size: cover;
}
@media( width > 768px){
    .back{
        background: url('/img/welcome.webp') no-repeat center center;
        background-size: cover;
    }
}

